* {
    box-sizing: border-box;
}

body {
    background-color: black !important;
    color: #78D6FF !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}  

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    width: 98%;
    background-color: #78D6FF;
    z-index: 3;
    position: relative;
}

nav h1{
    margin: 15vmin;
}

.project-cards > div{
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    margin: 4vw;
}

.projects-header{
    text-align: center;
}

.inner {
    padding-top: 20px;
}

.header {
    text-align: center;
    color:#78D6FF;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #78D6FF;
}

.skill-box:hover > .skill-title:after > .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #78D6FF;
    transition: 0.5s; 
}

.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title h3 {
    color: #fff;
    margin: 0.5rem;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 76vw;
}

.about-header {
    margin-bottom: 10vmin;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25vh;
    align-items: center;
}

nav > a {
    text-decoration: none !important;
    color: white;
    background-color: #78D6FF;
    border-radius: 12px;
    margin: 2vmin;
}

.links > a {
    text-decoration: none !important;
    color: white;
    background-color: #78D6FF;
    padding: 2vmin;
    border-radius: 12px;
    margin: 5vmin;
}

.banner {
    width: 80vw;
    display: flex;
    justify-content: left;
    margin-left: 10vw;
    margin-bottom: 25vh;
}

.img-banner {
    display: flex;
    justify-self: left;
    width: 100vw;
}

@media screen and (min-width: 789px) {
    .header.sticky{
        position: fixed;
        transition: all 0.4s ease;
        top: 0;
        width: 98%;
        justify-content: space-evenly;
    }
      
}

@media screen and (max-width: 768px) {
    Nav{
        display: flex;
        flex-direction: column;
    }
}